CREATE TABLE IF NOT EXISTS {{ table_name }} (
  
  -- put columns here- BE SURE to put NOT NULL to the potential primary fields to avoid Flink SQL statement execution error on dedup DMLs

  PRIMARY KEY(__db) NOT ENFORCED
) DISTRIBUTED BY HASH(`__db`) INTO 1 BUCKETS
WITH (
  'changelog.mode' = 'upsert',
  'key.format' = 'avro-registry',
  'value.format' = 'avro-registry',
   'value.fields-include' = 'all'
)