
INSERT INTO int_{{ table_name }}_deduped 
SELECT
    *,
    -- change key and add columns
FROM (
    select
      *,
      ROW_NUMBER() OVER (
        PARTITION BY `__db`
        ORDER
          BY $rowtime ASC
      ) AS row_num
    FROM {{ table_name }}_raw
) WHERE row_num = 1;