
INSERT INTO int_{{ table_name }}_deduped 
SELECT
    *,
    -- change key and add columns
FROM (
    select
      *,
      ROW_NUMBER() OVER (
        PARTITION BY `__db`
        ORDER
          BY __source_ts_ms DESC,
          __ts_ms DESC
      ) AS row_num
    FROM {{ topic_name }}
) WHERE row_num = 1;